*{
    margin:0;
    padding:0;
    font-size: 100%;
    
}
img {
    width:100%;
}
figure{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:#f1d0d3;
}
.container{
    max-width: 90%;
}
header{
    background-color: #314455;
    color:#f1d0d3;
    border-radius: 40px;
    text-align: center;
}
header img {
    width:15%;
    margin-left: 95%;
}
h1{
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}
nav{
    font-size: 8px;
}
.quote {
    font-size: 1.5rem;
    padding-top: 5%;
}
#portfolio{
    background-color: #a55e63;
    border-radius: 40px;
    display:flex;
    justify-content: center;
    align-content: center;
}
.photo-row-1,.photo-row-2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 25%;
}
.card{
    display:grid;
    grid-template-rows: repeat(2, 50px);
    gap:15px;

}